* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
}

/* codepen load */
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
/* codepen load */

.container-mobile img {
  width: 100%;
}

h6 {
  color: white;
  font-weight: normal;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

h6.halbum,
h6.hekstra,
h6.hinfo {
  opacity: 0;
}

/* .logofrtns {
  position: absolute;
  top: 322px;
} */

/* .logofrtns video {
  position: relative;
  width: 200%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
} */

.top-container {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 0 0 2rem 2rem;
  width: 100%;
  height: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: 1s;
  transition-timing-function: ease-in-out;
}

/* .call-navbar {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
} */

.navbar {
  z-index: 1;
  background: white;
  justify-content: center;
  display: flex;
  border-radius: 2rem 2rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  position: fixed;
  width: 100%;
  height: 8rem;
  bottom: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.navbar a {
  margin: 0 5% 0 5%;
  text-align: center;
  width: 50px;
  height: 75px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.navbar div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.transition {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

#berandAsvg {
  color: black;
}

@media only screen and (min-width: 768px) {
  .container-beranda {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    height: 100%;
    width: 768px;
  }

  .container-album iframe {
    width: 768px;
  }

  h6 {
    color: white;
  }

  .navbar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    width: 768px;
  }

  .navbar .active {
    left: 25.2%;
  }
}
