* {
  padding: 0;
  margin: 0;
}

.banner {
  background: #1f1f1f;
  width: 100%;
  height: 42px;
}

.swiper {
  background-color: black;
  width: 100%;
  height: 15vh;
}

.swiper img {
  width: 100%;
  height: auto;
}

video {
  position: relative;
  height: auto;
  width: 95%;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.conten {
  border: 1px solid lightgray;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 50px;
  width: 95%;
}

.conten img {
  width: 100%;
  margin-bottom: 8px;
}

.conten .text {
  margin: 0 0 13px 13px;
  width: 93%;
  font-size: 13px;
}

.download-gdrive {
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 95%;
}

.download-gdrive img {
  width: 100%;
}

.button-download {
  background-color: #2c2c2c;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-radius: 8px;
}

.button-download p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-27%, -50%);
  color: white;
}

.padding-end {
  height: 18.5vh;
}

h6 {
  color: white;
  font-weight: normal;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}

h6.halbum,
h6.hekstra,
h6.hinfo {
  opacity: 0;
}

/* .logofrtns {
  position: absolute;
  top: 322px;
} */

/* .logofrtns video {
  position: relative;
  width: 200%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
} */

.top-container {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 0 0 2rem 2rem;
  width: 100%;
  height: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: 1s;
  transition-timing-function: ease-in-out;
}

/* .call-navbar {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
} */

.navbar {
  z-index: 1;
  background: white;
  justify-content: center;
  display: flex;
  border-radius: 2rem 2rem 0 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  position: fixed;
  width: 100%;
  height: 8rem;
  bottom: 0;
}

a {
  text-decoration: none;
  color: gray;
}

.navbar a {
  margin: 0 5% 0 5%;
  text-align: center;
  width: 50px;
  height: 75px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}

.navbar div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.transition {
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

#berandAsvg {
  color: black;
}

@media only screen and (min-width: 768px) {
  .container-beranda {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    height: 100%;
    width: 768px;
  }

  .container-album iframe {
    width: 768px;
  }

  h6 {
    color: white;
  }

  .swiper {
    width: auto;
    height: 60vh;
  }

  .swiper img {
    width: 100%;
  }

  .navbar {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    width: 768px;
  }

  .navbar .active {
    left: 25.2%;
  }
}
